In [43]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
from scipy.stats import norm
from sklearn.preprocessing import StandardScaler
from scipy import stats
import warnings
from sklearn.model_selection import train_test_split
import math
from sklearn.metrics import f1_score
from treeModel import Tree_Classifier
from sklearn.tree import DecisionTreeClassifier # Import Decision Tree Classifier
from sklearn import metrics #Import scikit-learn metrics module for accuracy calculation

In [8]:
data = pd.read_csv('cardio_train.csv', delimiter = ';')

In [9]:
data.head()

,id,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
0,0,18393,2,168,62.0,110,80,1,1,0,0,1,0
1,1,20228,1,156,85.0,140,90,3,1,0,0,1,1
2,2,18857,1,165,64.0,130,70,3,1,0,0,0,1
3,3,17623,2,169,82.0,150,100,1,1,0,0,1,1
4,4,17474,1,156,56.0,100,60,1,1,0,0,0,0

In [10]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70000 entries, 0 to 69999
Data columns (total 13 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           70000 non-null  int64
 1   age          70000 non-null  int64
 2   gender       70000 non-null  int64
 3   height       70000 non-null  int64
 4   weight       70000 non-null  float64
 5   ap_hi        70000 non-null  int64
 6   ap_lo        70000 non-null  int64
 7   cholesterol  70000 non-null  int64
 8   gluc         70000 non-null  int64
 9   smoke        70000 non-null  int64
 10  alco         70000 non-null  int64
 11  active       70000 non-null  int64
 12  cardio       70000 non-null  int64
dtypes: float64(1), int64(12)
memory usage: 6.9 MB

In [11]:
data = data.drop(columns = ['id'])

In [12]:
X = data.iloc[:, :-1]
y = data.iloc[:, -1]
X_train,  X_test, y_train, y_test = train_test_split(X, y, test_size = 0.1, random_state = 0)

In [13]:
X_train.shape

(63000, 11)

In [14]:
X_test.shape

(7000, 11)

In [15]:
X_train = X_train.values.reshape(-1, 11)

In [16]:
X_train

array([[1.5938e+04, 1.0000e+00, 1.7100e+02, ..., 0.0000e+00, 0.0000e+00,
        1.0000e+00],
       [1.8038e+04, 1.0000e+00, 1.7500e+02, ..., 0.0000e+00, 1.0000e+00,
        1.0000e+00],
       [2.2793e+04, 1.0000e+00, 1.6500e+02, ..., 0.0000e+00, 0.0000e+00,
        1.0000e+00],
       ...,
       [2.2385e+04, 2.0000e+00, 1.7400e+02, ..., 0.0000e+00, 0.0000e+00,
        1.0000e+00],
       [1.8321e+04, 1.0000e+00, 1.5300e+02, ..., 0.0000e+00, 0.0000e+00,
        1.0000e+00],
       [2.0424e+04, 2.0000e+00, 1.6900e+02, ..., 0.0000e+00, 0.0000e+00,
        1.0000e+00]])

In [17]:
X_test = X_test.values.reshape(-1, 11)

In [18]:
y_train = y_train.values.reshape(-1, 1)

In [19]:
y_test = y_test.values.reshape(-1, 1)



# Training My model

In [20]:
clf = Tree_Classifier(max_depth=10, metric = "gini")
clf.fit(X_train, y_train)

In [21]:
y_predicted = clf.predict(X_test)

In [22]:
print("Accuracy:",metrics.accuracy_score(y_test, y_predicted))

Accuracy: 0.7174285714285714

In [23]:
y_predicted = clf.predict(X_train)

In [24]:
print("Accuracy:",metrics.accuracy_score(y_train, y_predicted))

Accuracy: 0.752968253968254

# training sk learn Model

In [25]:
clf = DecisionTreeClassifier()
clf = clf.fit(X_train,y_train)
y_pred = clf.predict(X_test)

print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.6257142857142857

In [26]:
y_pred = clf.predict(X_train)

In [27]:
print("Accuracy:",metrics.accuracy_score(y_train, y_pred))

Accuracy: 0.9998095238095238

# student predication

In [83]:
df = pd.read_csv('A.csv', delimiter = ',')

In [84]:
df.head()

   Unnamed: 0  EarlyReg  FinishedHW  Senior  LikesCoffee  LikedLastHW  A
0           0         1           1       0            0            1  1
1           1         1           1       1            0            1  1
2           2         0           0       1            0            0  0
3           3         0           1       1            0            1  0
4           4         0           1       1            0            0  1

In [85]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14 entries, 0 to 13
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unnamed: 0   14 non-null     int64
 1   EarlyReg     14 non-null     int64
 2   FinishedHW   14 non-null     int64
 3   Senior       14 non-null     int64
 4   LikesCoffee  14 non-null     int64
 5   LikedLastHW  14 non-null     int64
 6   A            14 non-null     int64
dtypes: int64(7)
memory usage: 912.0 bytes

In [86]:
df = df.drop(columns = ['Unnamed: 0'])

In [87]:
X1 = df.iloc[:, :-1]
y1 = df.iloc[:, -1]
X_train1,  X_test1, y_train1, y_test1 = train_test_split(X1, y1, test_size = 0.1, random_state = 0)
X1

    EarlyReg  FinishedHW  Senior  LikesCoffee  LikedLastHW
0          1           1       0            0            1
1          1           1       1            0            1
2          0           0       1            0            0
3          0           1       1            0            1
4          0           1       1            0            0
5          0           0       1            1            1
6          1           0       0            0            1
7          0           1       0            1            1
8          0           0       1            0            1
9          1           0       0            0            0
10         1           1       1            0            0
11         0           1       1            1            1
12         0           0       0            0            1
13         1           0       0            1            0

In [88]:
y1

0     1
1     1
2     0
3     0
4     1
5     1
6     0
7     1
8     1
9     0
10    1
11    0
12    0
13    1
Name: A, dtype: int64

In [89]:
X_train1.shape

(12, 5)

In [90]:
X_test1.shape

(2, 5)

In [91]:
X_train1 = X_train1.values.reshape(-1, 5)

In [92]:
X_train1

array([[0, 1, 1, 0, 0],
       [0, 1, 1, 1, 1],
       [0, 0, 1, 0, 0],
       [1, 0, 0, 1, 0],
       [1, 0, 0, 0, 0],
       [1, 1, 1, 0, 1],
       [0, 1, 0, 1, 1],
       [1, 1, 1, 0, 0],
       [0, 1, 1, 0, 1],
       [1, 1, 0, 0, 1],
       [0, 0, 1, 1, 1],
       [0, 0, 0, 0, 1]], dtype=int64)

In [93]:
X_test1 = X_test1.values.reshape(-1, 5)

In [94]:
y_train1 = y_train1.values.reshape(-1, 1)

In [95]:
y_test1 = y_test1.values.reshape(-1, 1)

In [100]:
clf1 = DecisionTreeClassifier(max_depth=6,random_state=60)
clf1 = clf1.fit(X_train1,y_train1)
y_pred1 = clf1.predict(X_test1)

print("Accuracy:",metrics.accuracy_score(y_test1, y_pred1))

Accuracy: 0.5